/* CSS styling for the project */

body{
  margin-left: auto;
  margin-right: auto;
  padding:2%;
  font-family: roboto;
}

*{
  box-sizing: border-box;
}

/* CSS for the table */
.table{
  width: 50%;
  border-collapse:separate;
  border-radius:25px;
}

.table td,.table th{
  margin-left: auto;
  margin-right: auto;
  padding:12px 25px;
  border:1px solid rgb(36, 35, 35);
  text-align: center;
}

.table tr:hover td {background:rgb(105, 200, 224)}

.table th{
  border-radius:9px;
  background-color: rgb(54, 52, 52);
  color:rgb(255, 255, 255);
}

.table tbody tr:nth-child(even){
  background-color:rgba(110, 107, 107, 0.911);
  color: white;
}
/* For responsiveness */

@media(max-width: 500px) {
  .table thead{
    display: none;
  }
  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }
  .table tr{
    margin-bottom: 15px;
  }
  .table td{
    text-align: center;
    padding-left: auto;
    position: relative;
  }
  .table td::before{
    content: attr(label);
    position: absolute;
    left:0;
    width: auto;
    padding-left:25px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

h1, h4 {
  text-align: center;
}
.coin-chest {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
}

.coin-spec {
  text-align: left;
  width: auto;
  border-radius: 25px;
  padding: 1em;
  box-shadow: rgba(24, 23, 23, 0.2) 0px 2px 8px 0px;
}
img {
  width:50px; 
  height:50px;
  text-align:center; 
  vertical-align:middle
}


/* Styling for individual cryptocurrency */
.cryptocurrency-spec-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem 20rem 2.5rem 20rem;
  gap: 6em;
}
.coin-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
.coin-brand {
  text-align: left;
}
.back {
  text-align: center;
  margin-bottom: 2em;
}

section li{
  padding-bottom:1em;
  font-size: 20px;
}